[package]
name = "russenger"
version = "0.1.6"
edition = "2021"
description = "A Rust library designed to simplify the handling of Facebook Messenger webhook responses."
license = "Apache-2.0"
documentation = "https://docs.rs/russenger/latest/russenger/"
homepage = "https://github.com/j03-dev/russenger"
repository = "https://github.com/j03-dev/russenger"
authors = ["FITAHIANA Nomeniavo Joe <24nomeniavo@gmail.com>"]
keywords = ["facebook", "bot", "messenger", "rust"]
categories = ["web-programming", "api-bindings"]

[lib]
name = "russenger"
path = "src/lib.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies.russenger_macro]
version = "0.1.0"

[dependencies]
reqwest = { version = "0.12.4", features = ["json"] }
serde = { version = "^1.0", features = ["derive"] }
async-trait = "^0.1.77"
serde_json = "^1.0.107"
lazy_static = "^1.4.0"
dotenv = "^0.15.0"
tokio = "1.38.0"
actix-web = "^4"
actix-files = "^0.6.5"
tera = "^1.19.1"

[dependencies.rusql-alchemy]
version = "0.1.0"
git = "https://github.com/j03-dev/rusql-alchemy"
branch = "main"
